<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="WebDriverChrome" preserve-order="true">
  <parameter name="BROWSER" value="CH"></parameter>
    <classes>
     <class name="searchGoogle.searchTest"/>
     <class name="searchGoogle.searchPage"/>
     <class name="searchGoogle.BasePage"/>
  </classes>
 </test>
<test name="WebDriverFF" preserve-order="true">
  <parameter name="BROWSER" value="FF"></parameter>
    <classes>
     <class name="searchGoogle.searchTest"/>
     <class name="searchGoogle.searchPage"/>
     <class name="searchGoogle.BasePage"/>
  </classes>
 </test>
 
</suite> <!-- Suite -->
